<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<title>Angular-Autolayout - A constraint based layout system for AngularJS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.min.css">
	<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/styles/default.min.css">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="autolayout">

	<a href="https://github.com/thenikso/angular-autolayout"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

	<header id="site-header">
		<i class="list layout icon site-logo"></i>
		<h1 class="title">Angular-Autolayout<span class="dem">.js</span></h1>
		<p class="subheading">Constraint based layout for your AngularJS apps</p>
		<a href="https://github.com/thenikso/angular-autolayout/archive/master.zip" class="ui inverted basic button">
			<i class="download disk icon"></i>
			Download Zip
		</a>
		&nbsp;
		<a href="https://github.com/thenikso/angular-autolayout" class="ui inverted basic button">
			<i class="github icon"></i>
			View on GitHub
		</a>
	</header>

	<section class="container">
		<div class="ui three column stackable grid">
			<div class="feature column">
				<i class="checked checkbox icon"></i>
				<h2 class="title">Constraint Based</h2>
				<p class="subheading">A <a href="http://en.wikipedia.org/wiki/Constraint_programming">programming paradigm</a> that feels just right for precise elements layout</p>
			</div>
			<div class="feature column">
				<i class="settings icon"></i>
				<h2 class="title">Configurable and light</h2>
				<p class="subheading">Declare layout directly in your view with fully configurable attributes</p>
			</div>
			<div class="feature column">
				<i class="apple icon"></i>
				<h2 class="title">As seen for iOS</h2>
				<p class="subheading">The <a href="http://www.cs.washington.edu/research/constraints/cassowary/">same engine</a> and <a href="https://developer.apple.com/library/ios/documentation/userexperience/conceptual/AutolayoutPG/VisualFormatLanguage/VisualFormatLanguage.html">language</a> as seen in Apple's Auto Layout for iOS and OS X</p>
			</div>
		</div>
	</section>

	<section class="container">
		<header>
			<h2 class="title">What is it?</h2>
		</header>
		<p>
			Angular-autolayout provides an <code>al-constraint</code> directive
			that can be used to layout DOM elements based on constraints. You can
			finally make those divs have the same height! Think of the potential
			for <a href="https://developer.chrome.com/apps/about_apps">Chrome Apps</a>
			or <a href="https://github.com/rogerwang/node-webkit">node-webkit</a>,
			think of <a href="https://cordova.apache.org/">Cordova</a> apps!
		</p>
		<div class="example ui two column stackable grid">
			<div class="twelve wide column">
<pre><code>&lt;div id="demo1" class="demo-container" al-update-on-resize&gt;
  &lt;div id="demo1-A" class="demo-box"&gt;A&lt;/div&gt;
  &lt;div id="demo1-B" class="demo-box"&gt;B&lt;/div&gt;
  &lt;div id="demo1-C" class="demo-box"&gt;C&lt;/div&gt;

  &lt;al-constraint align="top"&gt;|-[demo1-A(==demo1-B,==demo1-C)]-[demo1-B]-|&lt;/al-constraint&gt;
  &lt;al-constraint&gt;V:|-[demo1-A]-|&lt;/al-constraint&gt;
  &lt;al-constraint align="right"&gt;V:|-[demo1-B(==demo1-C)]-[demo1-C]-|&lt;/al-constraint&gt;
&lt;/div&gt;</code></pre>
			</div>
			<div class="four wide column">
				<div id="demo1" class="demo-container" al-update-on-resize>
					<div id="demo1-A" class="demo-box">A</div>
					<div id="demo1-B" class="demo-box">B</div>
					<div id="demo1-C" class="demo-box">C</div>

					<al-constraint align="top">|-[demo1-A(==demo1-B,==demo1-C)]-[demo1-B]-|</al-constraint>
					<al-constraint>V:|-[demo1-A]-|</al-constraint>
					<al-constraint align="right">V:|-[demo1-B(==demo1-C)]-[demo1-C]-|</al-constraint>
				</div>
			</div>
		</div>
		<p>
			Inside the <code>al-constraint</code>s you can see <a href="https://developer.apple.com/library/ios/documentation/userexperience/conceptual/AutolayoutPG/VisualFormatLanguage/VisualFormatLanguage.html">Apple's Visual Format Language</a>
			that can also be used to specify the layout of Cocoa applications.
		</p>
	</section>

	<section class="container">
		<header>
			<h2>How to use it</h2>
		</header>

		<div class="ui segment">
			<h3><i class="download disk icon"></i>Get it</h3>
			<p>Setup <a href="http://bower.io/">Bower</a> and then use:</p>
			<p><code>bower install angular-autolayout</code></p>
			<p>To install Angular-Autolayout in your current directory's bower_component folder.</p>
		</div>

		<div class="ui segment">
			<h3><i class="url icon"></i>Include it</h3>
			<p>Include the script in your page after AngularJS like so:</p>
			<pre><code>&lt;script src="bower_components/angular/angular.min.js"&gt;&lt;/script&gt;
&lt;script src="bower_components/angular-autolayout/angular-autolayout.min.js"&gt;&lt;/script&gt;</code></pre>
			<p>Then include it as a dependency for your AngularJS app module:</p>
			<pre><code>angular.module("myApp", ["autolayout"]);</code></pre>
		</div>

		<div class="ui segment">
			<h3><i class="bolt icon"></i>Use it!</h3>
			<p>
				You can now inject the <code>autolayout</code> service in your controllers
				and use the <code>&lt;al-constraint&gt;</code> directive as seen above.
			</p>
			<p>
				Check out the examples included in the project sources
				as well as the documentation on the <a href="https://github.com/thenikso/angular-autolayout">readme</a> file.
				Also, try the <a href="#playground">playground</a> to get started
				laying out stuff!
			</p>
		</div>
	</section>

	<section id="playground" class="container" ng-controller="playgroundCtrl">
		<header>
			<h2>Playground</h2>
		</header>

		<p>
			Can you figure out the autolayout visual format language? <code>|</code>
			means the container view, <code>-</code> is a standard space and elements
			are referenced by id like so <code>[elementId]</code>.
			<code>V:</code> stands for "vertical" and the <code>align</code> attribute
			is a shortcut that makes elements named in that constraint align in respect
			of each other. Give it a try.
		</p>

		<div class="example ui two column stackable grid"
			ng-init="playground.containerId = 'play1'; playground.constraints = [{align:'top', value:'|-[play1-A(==play1-B,==play1-C)]-[play1-B]-[play1-C]-|'}, {align:'right', value:'V:|-[play1-A(==play1-B,==play1-C)]-|'}]">
			<div class="twelve wide column">
				<form ng-submit="playground.hasChanges=false;applyConstraints()" class="highlight-code">&lt;div id="play1" class="demo-container" al-update-on-resize&gt;
  &lt;div id="play1-A" class="demo-box"&gt;A&lt;/div&gt;
  &lt;div id="play1-B" class="demo-box"&gt;B&lt;/div&gt;
  &lt;div id="play1-C" class="demo-box"&gt;C&lt;/div&gt;

	<span ng-repeat="c in playground.constraints" style="position:relative">&lt;al-constraint align="<input type="text" ng-model="c.align" style="width:5em" ng-change="playground.hasChanges=true">"&gt;
		<div class="ui red pointing above label" ng-show="c.error" ng-bind="c.error.message"></div><input type="text" ng-model="c.value" style="width:85%" ng-class="{'error':c.error}" ng-change="playground.hasChanges=true">
	&lt;/al-constraint&gt;
	</span>&lt;al-constraint align="<input type="text" ng-model="playground.newConstraint.align" style="width:5em" ng-change="playground.hasChanges=true">"&gt;
		<input type="text" ng-model="playground.newConstraint.value" style="width:85%" ng-class="{'error':c.error}" ng-change="playground.hasChanges=true">
	&lt;/al-constraint&gt;
&lt;/div&gt;<button type="submit" class="ui right labeled icon button solution-button" ng-class="{'secondary':playground.hasChanges}"><i class="right arrow icon"></i>Apply</button></form>
			</div>
			<div class="four wide column">
				<div id="play1" class="demo-container">
					<div id="play1-A" class="demo-box">A</div>
					<div id="play1-B" class="demo-box">B</div>
					<div id="play1-C" class="demo-box">C</div>
				</div>
			</div>
		</div>

		<div class="ui four column stackable grid">
			<div class="column">
				<p>Try to reproduce the following layouts:</p>
			</div>
			<div class="column">
				<div id="try1" class="demo-container secondary">
					<div id="try1-A" class="demo-box">A</div>
					<div id="try1-B" class="demo-box">B</div>
					<div id="try1-C" class="demo-box">C</div>

					<al-constraint align="centerX">V:|-[try1-A(==try1-B,==try1-C)]-30-[try1-B]-[try1-C]-|</al-constraint>
					<al-constraint>|-[try1-A(==try1-B,==try1-C)]-|</al-constraint>

					<button class="ui small button solution-button" ng-click="suggestSolution([{align:'centerX', value:'V:|-[play1-A(==play1-B,==play1-C)]-30-[play1-B]-[play1-C]-|'}, {value:'|-[play1-A(==play1-B,==play1-C)]-|'}])">Solution</button>
				</div>
			</div>
			<div class="column">
				<div id="try2" class="demo-container secondary">
					<div id="try2-A" class="demo-box">A</div>
					<div id="try2-B" class="demo-box">B</div>
					<div id="try2-C" class="demo-box">C</div>

					<al-constraint>|[try2-A(==50)]-[try2-B]-|</al-constraint>
					<al-constraint>V:|-[try2-B(==try2-A,==try2-C)]-[try2-C]-|</al-constraint>
					<al-constraint>|-[try2-C]-|</al-constraint>

					<button class="ui small button solution-button" ng-click="suggestSolution([{value:'|[play1-A(==50)]-[play1-B]-|'}, {value:'V:|-[play1-B(==play1-A,==play1-C)]-[play1-C]-|'}, {value:'|-[play1-C]-|'}])">Solution</button>
				</div>
			</div>
			<div class="column">
				<div id="try3" class="demo-container secondary">
					<div id="try3-A" class="demo-box">A</div>
					<div id="try3-B" class="demo-box">B</div>
					<div id="try3-C" class="demo-box">C</div>

					<al-constraint align="centerX">V:|-[try3-A(==try3-B,==try3-C)]-[try3-B]-[try3-C]-|</al-constraint>
					<al-constraint>|-[try3-A]-|</al-constraint>
					<al-constraint
						element="try3-A"
						attribute="width"
						relation="equal"
						to-element="try3-B"
						to-attribute="width"
						multiplier="1.4"></al-constraint>
					<al-constraint
						element="try3-B"
						attribute="width"
						relation="equal"
						to-element="try3-C"
						to-attribute="width"
						multiplier="1.4"></al-constraint>

					<div class="ui pointing right black label" ng-show="showHint" style="position:absolute;text-transform:none;bottom:-3em;right:9.2em;width:100%">
						<p>
							Ha! For this you'll need a different form of the directive.
							Check out the <a href="https://github.com/thenikso/angular-autolayout">documentation</a>!
						</p>
					</div>
					<button class="ui small button solution-button" ng-click="showHint=!showHint">Solution*</button>
				</div>
			</div>
		</div>

		<p>
			...and you're good to go! Make sure to checkout the <a href="https://github.com/thenikso/angular-autolayout">documentation</a> to
			create even cooler layouts and make them update on window resize. Enjoy!
		</p>
		<p><small>* this one may not be possible in this playground.</small></p>
	</section>

	<footer id="site-footer">
		<a href="https://github.com/thenikso/angular-autolayout/archive/master.zip" class="ui inverted basic button">
			<i class="download disk icon"></i>
			Download Zip
		</a>
		&nbsp;
		<a href="https://github.com/thenikso/angular-autolayout" class="ui inverted basic button">
			<i class="github icon"></i>
			View on GitHub
		</a>
		<p>
			Created by Nicola Peduzzi.
			<a href="https://github.com/thenikso"><i class="github alternate icon"></i></a>
			<a href="https://twitter.com/Nikso"><i class="twitter icon"></i></a>
			<a href="https://plus.google.com/+NicolaPeduzzi"><i class="google plus icon"></i></a>
		</p>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
	<script src="scripts/angular-autolayout.min.js"></script>
	<script>
		hljs.configure({tabReplace: '  '});
		hljs.initHighlightingOnLoad();
		var highlightCode = document.getElementsByClassName('highlight-code');
		for (var i = highlightCode.length - 1; i >= 0; i--) {
			hljs.highlightBlock(highlightCode[i]);
		};
	</script>
	<script>
	function playgroundCtrl ($scope, autolayout) {
		var container = null, al = null, constraints = null;
		$scope.applyConstraints = function () {
			if (!container || !$scope.playground.constraints) return;
			if (al) al.destroy();
			al = autolayout(container);
			angular.element(container).children().css({
				top: '', left: '', width: '', height: ''
			});
			constraints = [];
			if ($scope.playground
				&& $scope.playground.newConstraint
				&& $scope.playground.newConstraint.value
				&& $scope.playground.newConstraint.value.trim()) {
				$scope.playground.constraints.push(angular.copy($scope.playground.newConstraint));
				$scope.playground.newConstraint = null;
			}
			for (var i = 0; i < $scope.playground.constraints.length; i++) {
				var c = $scope.playground.constraints[i];
				if (!c.value.trim()) continue;
				try {
					c.error = null;
					constraints.push(c);
					al.addConstraint(c.value.trim(), { align: c.align });
				} catch (e) {
					c.error = e;
				}
			}
			$scope.playground.constraints = constraints;
		};
		$scope.suggestSolution = function (sol) {
			$scope.playground.constraints = sol;
			$scope.applyConstraints();
			document.getElementById('playground').scrollIntoView(true);
		};
		var initialConstraintsStop = $scope.$watchCollection('playground.constraints', function (cs) {
			if (!constraints) {
				constraints = cs;
				$scope.applyConstraints();
				initialConstraintsStop();
			}
		});
		$scope.$watch('playground.containerId', function (id) {
			if (al) {
				al.destroy();
				al = null;
			}
			container = document.getElementById(id);
			if (container) {
				al = autolayout(container);
				$scope.applyConstraints();
			}
		});
	}
	</script>

</body>
</html>