body, html {
	margin: 0;
	font-size: 100%;
	font-family: 'Oxygen', sans-serif;
	color: #333;
	background: white;
}

a {
	color: #428bca;
	text-decoration: none;
}

a:hover {
	color: #2a6496;
	text-decoration: underline;
}

code {
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	padding: 0 0.2em;
}

pre {
	margin: 0;
}

pre > code {
	overflow: auto;
}

.dem {
	opacity: 0.5;
}

.highlight-code {
	white-space: pre;
	font-family: monospace;
}

.highlight-code input {
	font-family: monospace;
	border: none;
	background: #f9f9f9;
	padding: 0.1em 0.3em;
	font-size: 1em;
}

.highlight-code input.error {
	background: #E7BEBE;
}

.highlight-code .ui.pointing.label {
	position: absolute;
	top: 3em;
	z-index: 1;
}

#site-header {
	text-align:center;
	background: #396AD1;
	background-image: url(../images/bg.jpg);
	color: white;
	padding: 3em 1em;
	margin-bottom: 2rem;
}

#site-header .site-logo {
	font-size: 5em;
	margin: 0 0 3rem;
	line-height: 1;
}

#site-header .title {
	font-size: 3.5em;
	margin: 0;
}

#site-header .subheading {
	font-weight: 300;
	font-size: 1.5em;
	margin-bottom: 3rem;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 1200px;
	margin-bottom: 2rem;
}

.feature {
	text-align: center !important;
}

.feature .icon {
	font-size: 2.5em;
}

.feature .subheading {
	font-weight: 300;
}

.example pre {
	margin: 0;
}

.example pre > code {
	height: 200px;
	box-sizing: border-box;
	padding: 1.2em .5em;
	background: #f5f5f5;
	border: none;
}

.demo-container {
	border-radius: 3px;
	background: #f5f5f5;
	height: 200px;
}

.demo-box {
	border-radius: 3px;
	background: #396AD1;
	color: rgba(255, 255, 255, 0.5);
	font-size: 2em;
	padding: 0.2em 0.4em;
	font-weight: bold;
	box-sizing: border-box;
}
